.reminder_card {
    padding: 20px;
    width: 90%;
    box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.3);
    margin: 10px 20px;
    float: left;
}

@media (min-width:767px) {
    .reminder_card {
        width: 40%;
    }
}